.form-container{
  display:flex;
  justify-content: center;

  padding-top: 40px;
}
.input-text{
  height: 30px;
  border: 2px solid #bebebe;
  background: #fefefe;
  width: 20%;
  font-size:18px;
  color:#666;
  border-start-start-radius: 34px;
  border-end-start-radius: 34px;
  display: block;
}
.input-button{
  border-top-right-radius: 34px;
  border-bottom-right-radius: 34px;
}
img{
  width: 10px;
  height: 10px;
}